
body {
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  padding-bottom: 20px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.body-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.small-text {
  font-size: 12.5px;
  font-weight: 600;
  font-family: 'Playfair Display SC', serif;
}

.big-text {
  font-size: 35px;
  font-weight: 700;
}


/*-- SignUp PopUp --*/

.signup-wrapper {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  display: none;
}

.signup-content {
  max-width: 500px;
  width: 60%;
  max-height: 500px;
  background-color: #d9d7d7;
  border-radius: 8px;
  top: 10%;
  left: 30%;
  position: absolute;
  text-align: center;
  color: #fff;
  
}

.signup-content h1, .login-content h1 {
  color: #000;
  font-family: 'Playfair Display SC', serif;
}

.signup-content form {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  align-items: center;
}

.signup-content form input {
  padding: 10px;
  margin: 10px 0;
  max-width: 400px;
  width: 80%;
  background-color: #1f1f1f;
  border-radius: 10px;
  border: 0;
}

.signup-content form button {
  width: 150px;
  padding: 10px;
  background-color: #81b300;
  border:0;
  border-radius: 5px;
  margin-top: 10px;
}

.close-signup {
  height:40px;
  top:-5;
  margin-right: -10px;
  margin-top: -10px;
  float: right;
  
  -moz-transition: -moz-transform ease 0.6s;
  -webkit-transition: -webkit-transform ease 0.6s;
  -o-transition: -o-transform ease 0.6s;
  -ms-transition: -ms-transform ease 0.6s;
  transition: transform ease 0.6s;
}

.close-signup:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg)
}

form input:focus {
  border: none;
}

/*-- Login Contents --*/

.login-wrapper {
  width: 100%;
  height: 100%;
  z-index: 100;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
  display: none;
}

.login-content {
  max-width: 500px;
  width: 60%;
  max-height: 500px;
  background-color: #d9d7d7;
  border-radius: 8px;
  top: 10%;
  left: 30%;
  position: absolute;
  text-align: center;
  color: #fff;
}

.login-content form {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
  align-items: center;
}

.login-content form input {
  padding: 10px;
  margin: 10px 0;
  max-width: 400px;
  width: 80%;
  background-color: #1f1f1f;
  border-radius: 10px;
  border: 0;
}

.login-content p {
  margin-top: 10px;
  color: #000;
}

.login-content p a {
  color: #81b300;
}

.login-content p a:hover {
  text-decoration: none;
}
.login-content form button {
  width: 150px;
  padding: 10px;
  background-color: #81b300;
  border:0;
  border-radius: 5px;
  margin-top: 10px;
}


/*-- Top Line --*/

.top-line {
  background-color: #81b300;
  height: 4px;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
}


/*-- Header --*/

.header {
  background-color: #fff;
  padding-bottom: 30px;
}

.icon-wrapper { 
  right: 0;
}

.icon-wrapper ul {
  text-decoration: none;
  float: right;
  padding: 0;
  margin-right: 30px;
  background-color: #81b300;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.icon-wrapper ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}

.icon-wrapper ul li a {
  margin: 1px;

}

.icon-wrapper ul li a i {
  color: #fff;
  background-color: #000;
  padding: 10px;
  border-radius: 50%;
}

.icon-wrapper ul li a:hover i {
  background-color: #00acee;
}



/*-- Text Logo --*/

.text-logo {

}

.text-logo .big-text {
  margin-left: 30px;
  padding-top: 40px;
  font-family: 'PT Serif Caption', serif;
}

.text-logo .small-text {
  margin-top: -5px;
  margin-left: 30px;
}


.header-links {
  float: right;
}

.header-links ul {
  text-decoration: none;
  margin-top: -27px;
  margin-right: 30px;
  color: #81b300;
}

.header-links ul li {
  list-style: none;
  display: inline-block;
  
}

.header-links ul li a {
  color: #81b300;
}

.header-links ul li a:hover,
.header-links ul li a:visited,
.header-links ul li a:focus {
  text-decoration: none;
}



/*-- Hidden Nav --*/

.menu-bar-hidden {
  display: none;
}

.menu-bar-hidden ul li {
  text-decoration: none;
  list-style: none;
  padding: 15px 15px;
  margin: 0 10px;
  max-width: 200px;
}

.menu-bar-hidden ul li:hover {
  background-color: #81b300;
}

.menu-bar-hidden ul li a {
  color: #fff;
  font-family: 'Playfair Display SC', serif;
}

.menu-bar-hidden ul li a:hover, .menu-bar-hidden ul li a:focus {
  text-decoration: none;
}




/*-- Menu Bar --*/

.toggleNav {
  display: none;
}

.menu-wrapper .menuToggle, .menu-wrapper .menuToggle:hover, .menu-wrapper .menuToggle:focus {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}

.menu-wrapper {
  background-color: #81b300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-family: 'Playfair Display SC', serif;
}


.menu-bar ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 0;
  margin: 0 10px;
}

.menu-bar ul li:last-child {
  margin-right: 0;
}

.menu-bar ul li a {
  color: #fff;
}

.menu-bar ul li a:hover {
  text-decoration: none;
  color: #000;
}

.menu-bar ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.form-wrapper {
  padding: 10px 0;
}

.form-wrapper input {
  margin-right: -4px;
  width: 230px;
  padding: 5px 5px 5px 4px;
}

.form-wrapper button {
  border: 0;
  padding: 6px;
  color: #81b300;
  font-weight: 600;
}

/*-- DropDown --*/

.dropbtn:focus {
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #81b300;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
}

.drop-down .dropdown-content .atext {
  color: #fff;
}

.drop-down .dropdown-content .atext:hover {
  background-color: #1f1f1f;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 0px;
}


/*-- Carousel --*/



.carousel-wrapper {
  background-color: #e7e7e7;
  padding: 30px 0;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active { opacity: 1 }
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1 }
.carousel-fade .carousel-control { z-index: 2 }

.item img {
  max-width: 900px;
  max-height: 360px;
  width: 900px;
  height: 360px;
  margin: 0 auto;
  border: 5px solid #fff;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  opacity: 1;
  color: #000;
}

.carousel-inner {
   margin-bottom:20px;
}

.carousel-controls{
  position:relative; 
  width:150px;
  margin:0 auto;
  padding-top: 20px;
}

.carousel-indicators{
   top:5px; 
}

.indicators-color li {
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  border:1px solid #000;

}




/*-- Middle Content --*/

.middle-wrapper {
  background-color: #fff;
  padding: 30px;
}

.middle-icons {
  display: flex;
}


.middle-icons .icon-contents {
  text-align: center;
  margin-right: 10px;
}

.middle-icons .icon-contents span {
  font-size: 60px;
}

.middle-icons .icon-contents .fa-users {
  color: #c45f4b;
}

.middle-icons .icon-contents .fa-globe {
  color: #cf9d41;
}

.middle-icons .icon-contents .fa-image {
  color: #3d5f12;
}

.middle-icons .icon-contents .fa-play-circle {
  color: #7da3b7;
}

.icon-contents a:hover, .icon-contents a:focus {
  text-decoration: none;
}

.middle-icons .icon-contents h4 {
  font-family: 'Playfair Display SC', serif;
  color: #81b300;
  font-weight: 600;
}

.middle-icons .play {
  margin-right: 0;
}

hr {
  background-color: #333;
  height: 1px;
}

/*-- Anime Contents --*/

.middle-anime-contents {
  display: flex;
}

.anime-contents a {
  float: right;
}

.middle-anime-contents .anime-contents {
  margin-right: 20px;
}

.middle-anime-contents .ichigo {
  margin-right: 0;
}

.middle-anime-contents .anime-contents a {
  color: #81b300;

}

.middle-anime-contents .anime-contents a:hover, .middle-anime-contents .anime-contents a:focus {
  color: #81b300;
  text-decoration: none;
}


.middle-anime-contents .anime-contents .white-bg{
  max-width: 210px;
  max-height: 140px;
  width: 210px;
  height: 140px;
  border: 1px solid #e2e2e2;
}

.anime-contents img {
  max-width: 200px;
  max-height: 130px;
  width: 200px;
  height: 130px;
  margin-top: 4px;
  margin-left: 4px;
}

h5 {
  font-weight: 600;
  font-size: 120%;
  text-align: center;
}



/*-- Footer Content --*/

footer {
  background-color: #3b3b3b;
}

.footer-wrapper {
  margin: 0 30px;
  color: #999999;
  font-size: 11px;
}

.footer-wrapper ul {
  padding: 0;
  margin: 0;
  display: flex;

}

.footer-wrapper ul li {
  list-style: none;
  margin-right: 20px;
  max-width: 210px;
}

.footer-links ul  {
  display: flex;
  flex-direction: column;
}

.footer-links ul li {
  border-bottom: 1px solid #484848;
  margin-bottom: 10px;
  padding-bottom: 5px;

}

.footer-links ul li a {
  color: #999999;
}

.footer-links ul li a:hover, .footer-links ul li a:focus {
  color: #999999;
  text-decoration: none;
}

h2 {
  font-size: 200%;
}

.blog-link {
  color: #81b300;
  float: right;
}

.blog-link:hover, .blog-link:focus {
  color: #81b300;
  text-decoration: none;
}

.footer-wrapper ul li.wrapper-sign {
  margin-right: 0;
}

.footer-wrapper h2 {
  color: #666666;
}

/*-- Form --*/

.signup input {
  margin-bottom: 10px;
  padding: 8px;
  max-width: 210px; 
  width: 210px;
  background-color: #1f1f1f;
  border: none;
  border-radius: 5px;
}

.signup button {
  background-color: #1f1f1f;
  padding: 8px;
  border: none;
  border-radius: 5px;
  color: #81b300;
  font-weight: 600;
}

.copyright {
  background-color: #2e2e2e;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 30px;
  color: #737373;
}


@media screen and (max-width: 768px) {
  .icon-wrapper ul {margin: 0 auto; float: none; text-align: center; max-width: 270px;}
  .header-links ul, .header-links {text-align: center; margin: 0 auto; float: none; padding: 0;}
  .menu-bar {display: none;}
  a .toggleNav {display: block;}
  .menu-bar-hidden.open {display: block;}
  .signup-content form input {padding: 5px;}
  .signup-content form button {padding: 5px;}
  .signup-content form {margin: 5px 0}
  .signup-content h1 {font-size: 150%;}
  .signup-content { margin-bottom: 20px;}
  .login-content form input {padding: 8px;}
  .login-content form button {padding: 8px;}
  .login-content form {margin: 5px 0}
  .login-content h1 {font-size: 180%;}
  .login-content form p {margin: 10px 10px;}
  .copyright {flex-direction: column; text-align: center;}
}


@media screen and (max-width: 992px) {
  .login-content, .signup-content {left: 20%;}
  .menu-bar ul {display: flex; justify-content: space-between; margin-left: 20px;}
  .middle-anime-contents {flex: 1 1 50%}
  .middle-icons, .middle-anime-contents, .footer-wrapper ul {flex-wrap: wrap;}
  .icon-contents, .anime-contents{flex: 1 1 33.33%;}
  .anime-contents .white-bg {margin: 0 auto;}
  .anime-contents {padding-bottom: 20px;}
  .footer-wrapper ul li {flex: 1 1 33.33%; margin-bottom: 20px;}
  .footer-wrapper ul .blog {margin-right: 40px;}
  .footer-wrapper ul li.footer-links {margin-right: -20px;}
  .footer-wrapper ul .footer-links, .footer-wrapper ul .contact {width: 125px;}
}

@media screen and (max-width: 380px) {
  .menu-wrapper {padding:0 10px;}
  .form-wrapper input {width: 200px;}
}